.table-header {
    background-color: rgb(73, 149, 235);
    color: white;
    font-weight: bolder !important;
}



@media only screen and (max-width: 900px){
    .datadiv{
        max-width: calc(100vw - 50px);
        overflow: auto;
    }
}